.addButton {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    outline: none;
    background-color: lime;
    color: white;
    outline: none;
    border: none;
    margin: 0.25px;
}

.addButton:hover {
    opacity: 0.7;
}