h1 {
    font-size: 3rem;
    font-weight: 50;
    margin: 1rem 0 3rem;
    text-align: center;
    color: #ffffff;
    font-family: $font-family;

    .styling {
        font-weight: 800;
        color: lime;
    }
}