* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  background-color: #111;
}

$font-family : 'Hind',
sans-serif;
$colorButtonEdit : lime;
$colorButtonRemove : red;

@mixin editRemoveButton {
  font-size: 1.4rem;
  margin: 0 0.5rem;
  background: none;
  outline: none;
  border: none;
}

@import "./heading";
@import "./input-div";
@import "./container";
@import "./edit-button";
@import "./remove-botton";
@import "./add-button";
@import "./item";